{% extends "base.html" %}
{% block body %}
{% load static %}
		<!--Main Boby-->
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">department Information</h4>
						<ul class="breadcrumbs">
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Departments</a>
							</li>
						</ul>
					</div>
					<div class="row">
                        <!--Table with filters and add row option-->
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Departments</h4>
										<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#adddepartmentModal">
											<i class="fa fa-plus"></i>
											Add Department
										</button>
									</div>
								</div>
								<div class="card-body">
									<!-- Modal to add new department -->
									<div class="modal fade" id="adddepartmentModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
														<span class="fw-bold">Add Department</span><br>
														<p class="small">Add a new Department, make sure you fill them all</p>
													</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
													<form action="{% url 'adddepartment'%}" method="post" class="row g-3 needs-validation">
														{% csrf_token %}
														<div class="row">
															<div class="col-md-6 col-lg-4">
                                                                <label for="departmentid" class="form-label">Department ID</label>
                                                                <input name="departmentid" type="text" class="form-control" id="departmentid" placeholder="department ID should contains only alphabets and numbers" required>
                                                            </div>
                                                            <div class="col-md-6 col-lg-4">
                                                                <label for="departmentname" class="form-label">Department Name</label>
                                                                <input name="departmentname" type="text" class="form-control" id="departmentname" placeholder="department Name" required>
                                                            </div>
															<div class="col-md-6 col-lg-4">
																<label for="status">Status</label>
																<br>
																<input class="form-radio-input" type="radio" name="status" value="Active" checked="true">Active<br>
																<input class="form-radio-input" type="radio" name="status" value="Inactive">Inactive
															</div>
														</div>
														<div class="modal-footer no-bd">
															<button type="submit" id="editdepartmentButton" class="btn btn-primary">Add</button>
															<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!--End modal-->

									<!-- Modal to update department -->
									{% for i in dep%}
										<div class="modal fade" id="editdepartmentModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header no-bd">
														<h5 class="modal-title">
															<span class="fw-bold">Update Department</span><br>
															<p class="small">Update the Information</p>
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
														<form action="/updatedepartment/{{i.id}}" method="post" class="row g-3 needs-validation">
															{% csrf_token %}
															<div class="row">
																<div class="col-md-6 col-lg-4">
																	<label for="departmentid" class="form-label">Department ID</label>
																	<input name="departmentid" type="text" class="form-control" value="{{i.department_code}}" id="departmentid" placeholder="department ID should contains only alphabets and numbers" required>
																</div>
																<div class="col-md-6 col-lg-4">
																	<label for="departmentname" class="form-label">Department Name</label>
																	<input name="departmentname" type="text" class="form-control" value="{{i.name}}" id="departmentname" placeholder="department Name" required>
																</div>
																<div class="col-md-6 col-lg-4">
																	<label for="status">Status</label>
																	<br>
																	<input class="form-radio-input" type="radio" name="status" value="Active">Active<br>
																	<input class="form-radio-input" type="radio" name="status" value="Inactive">Inactive
																</div>
															</div>
															<div class="modal-footer no-bd">
																<button type="submit" id="adddepartmentButton" class="btn btn-primary">Save</button>
																<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									<!--End modal-->

									<!-- Modal to delete department -->
									{% for i in dep%}
										<div class="modal fade" id="deletedepartmentModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header no-bd">
														<h5 class="modal-title">
															<span class="fw-bold">Delete Department</span>
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
														<p class="small">Do you really want to delete this department record</p>
														<p class="small">The {{i.name}} will get deleted permanently</p>
														<form action="/deletedepartment/{{i.id}}" method="post" class="row g-3 needs-validation">
															{% csrf_token %}
															<div class="modal-footer no-bd">
																<button type="submit" id="deletedepartmentButton" class="btn btn-primary">Delete</button>
																<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									<!--End modal-->

									<!--table structure-->
									<div class="table-responsive">
										<table id="department" class="display table table-striped table-hover" >
											<thead>
												<tr>
													<th>Department ID</th>
													<th>Department Name</th>
													<th>Status</th>
													<th style="width: 10%">Action</th>
												</tr>
											</thead>
											<thead>
												<tr>
													<th>Department ID</th>
													<th>Department Name</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for department in dep %}
													<tr>
														<td>{{ department.department_code }}</td>
														<td>{{ department.name }}</td>
														<td>{{ department.department_status }}</td>
														<td>
															<div class="form-button-action">
																<button type="button" data-toggle="modal" href="#editdepartmentModal-{{forloop.counter}}" class="btn btn-link btn-primary btn-lg" data-original-title="Edit department">
																	<i class="fa fa-edit"></i>
																</button>
																<button type="button" data-toggle="modal" href="#deletedepartmentModal-{{forloop.counter}}" class="btn btn-link btn-danger" data-original-title="Remove department">
																	<i class="fa fa-times"></i>
																</button>
															</div>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!--End table structure-->

								</div>
							</div>
						</div>
                        <!--End table-->
					</div>
				</div>
			</div>
		</div>
	<!--End Main Body-->
    </div>
	{% endblock %}
	
	{% block script %}
	<script>
		$(document).ready(function() {
			$('#department').DataTable( 
				{
				"pageLength": 5,
				initComplete: function () 
				{
					this.api().columns().every( function () 
					{
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.header()).empty() )
						.on('change', function () 
						{
							var val = $.fn.dataTable.util.escapeRegex($(this).val());
							column.search( val ? '^'+val+'$' : '', true, false ).draw();
						});

						column.data().unique().sort().each( function ( d, j )
						{
							select.append('<option value="'+d+'">'+d+'</option>')
						});
					} );
				}
			});
		});
	</script>
	{% endblock %}