{% extends "base.html" %}
{% block body%}
{% load static %}
		<!--Main Boby-->
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Employee Information</h4>
						<ul class="breadcrumbs">
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Employees</a>
							</li>
						</ul>
					</div>
					<div class="row">
                        <!--Table with filters and add row option-->
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Employees</h4>
										<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addemployeeModal">
											<i class="fa fa-plus"></i>
											Add Employee
										</button>
									</div>
								</div>
								<div class="card-body">
									<!-- Modal to add new employee -->
									<div class="modal fade" id="addemployeeModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
														<span class="fw-mediumbold">Add Employee</span><br>
														<p class="small">Add a new employee, make sure you fill them all</p>
													</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
													<form action="{% url 'addemployee'%}" method="post" class="row g-3 needs-validation">
														{% csrf_token %}
														<div class="row">
															<div class="col-md-6 col-lg-4">
                                                                <label for="employeeid" class="form-label">Employee ID</label>
                                                                <input name="employeeid" type="text" class="form-control" id="employeeid" placeholder="Employee ID should contains only alphabets and numbers" required>
																<label for="firstname">First Name</label>
																<input name="firstname" type="text" class="form-control form-control" id="firstname" placeholder="First Name">
																<label for="middlename">Middle Name</label>
																<input name="middlename" type="text" class="form-control form-control" id="middlename" placeholder="Middle Name">
																<label for="lastname">Last Name</label>
																<input name="lastname" type="text" class="form-control form-control" id="lastname" placeholder="Last Name">
                                                            </div>
                                                            <div class="col-md-6 col-lg-4">
																<label for="email2">Email Address</label>
																<input name="email2" type="email" class="form-control" id="email2" placeholder="Enter Email">
																<label for="mobilenumber">Mobile Number</label>
																<input name="mobilenumber" type="text" class="form-control form-control" id="mobilenumber" placeholder="Mobile Number">
																<label for="emplocation">Location</label>
																<select name="emplocation" class="form-control" id="emplocation">
																	<option value="" selected disabled>Select a Location</option>
																	{% for l in loc %}
																		<option value="{{ l.id }}">{{ l.name }}</option>
																	{% endfor %}
																</select>
																<label for="empdepartment">Department</label>
																<select name="empdepartment" class="form-control" id="empdepartment">
																	<option value="" selected disabled>Select a Department</option>
																	{% for dp in dep %}
																		<option value="{{ dp.id }}">{{ dp.name }}</option>
																	{% endfor %}
																</select>
                                                            </div>
															<div class="col-md-6 col-lg-4">
																<label for="empdesignation">Designation</label>
																<select name="empdesignation" class="form-control" id="empdesignation">
																	<option value="" selected disabled>Select a Designation</option>
																	{% for ds in des %}
																		<option value="{{ ds.id }}">{{ ds.name }}</option>
																	{% endfor %}
																</select>
																<label for="emplevel">Level</label>
																<select name="emplevel" class="form-control" id="emplevel">
																	<option value="" selected disabled>Select a Level</option>
																	{% for lv in lvl %}
																		<option value="{{ lv.id }}">{{ lv.name }}</option>
																	{% endfor %}
																</select>
																<label for="status">Status</label>
																<br>
																<input class="form-radio-input" type="radio" name="status" value="Active" checked="true">Active<br>
																<input class="form-radio-input" type="radio" name="status" value="Inactive">Inactive
															</div>
														</div>
														<div class="modal-footer no-bd">
															<button type="submit" id="addemployeeButton" class="btn btn-primary">Add</button>
															<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!--End modal-->

									<!-- Modal to update employee -->
									{%for i in emp%}
										<div class="modal fade" id="editemployeeModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header no-bd">
														<h5 class="modal-title">
															<span class="fw-mediumbold">Update Employee</span><br>
															<p class="small">Update the employee information</p>
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
														<form action="/updateemployee/{{i.id}}" method="post" class="row g-3 needs-validation">
															{% csrf_token %}
															<div class="row">
																<div class="col-md-6 col-lg-4">
																	<label for="employeeid" class="form-label">Employee ID</label>
																	<input name="employeeid" type="text" class="form-control" id="employeeid" value="{{i.user_code}}" placeholder="Employee ID should contains only alphabets and numbers" required>
																	<label for="firstname">First Name</label>
																	<input name="firstname" type="text" class="form-control form-control" id="firstname" value="{{i.first_name}}" placeholder="First Name">
																	<label for="middlename">Middle Name</label>
																	<input name="middlename" type="text" class="form-control form-control" id="middlename" value="{{i.middle_name}}" placeholder="Middle Name">
																	<label for="lastname">Last Name</label>
																	<input name="lastname" type="text" class="form-control form-control" id="lastname" value="{{i.last_name}}" placeholder="Last Name">
																</div>
																<div class="col-md-6 col-lg-4">
																	<label for="email2">Email Address</label>
																	<input name="email2" type="email" class="form-control" id="email2" value="{{i.email}}" placeholder="Enter Email">
																	<label for="mobilenumber">Mobile Number</label>
																	<input name="mobilenumber" type="text" class="form-control form-control" id="mobilenumber" value="{{i.mobile}}" placeholder="Mobile Number">
																	<label for="emplocation">Location</label>
																	<select name="emplocation" value="{{i.location}}" class="form-control" id="emplocation">
																		<option value="" disabled>Select a Location</option>
																		{% for l in loc %}
																			<option value="{{ l.id }}">{{ l.name }}</option>
																		{% endfor %}
																	</select>
																	<label for="empdepartment">Department</label>
																	<select name="empdepartment" value="{{i.department}}" class="form-control" id="empdepartment">
																		<option value="" disabled>Select a Department</option>
																		{% for dp in dep %}
																			<option value="{{ dp.id }}">{{ dp.name }}</option>
																		{% endfor %}
																	</select>
																</div>
																<div class="col-md-6 col-lg-4">
																	<label for="empdesignation">Designation</label>
																	<select name="empdesignation" value="{{i.designation}}" class="form-control" id="empdesignation">
																		<option value="" disabled>Select a Designation</option>
																		{% for ds in des %}
																			<option value="{{ ds.id }}">{{ ds.name }}</option>
																		{% endfor %}
																	</select>
																	<label for="emplevel">Level</label>
																	<select name="emplevel" value="{{i.level}}" class="form-control" id="emplevel">
																		<option value="" disabled>Select a Level</option>
																		{% for lv in lvl %}
																			<option value="{{ lv.id }}">{{ lv.name }}</option>
																		{% endfor %}
																	</select>
																	<label for="status">Status</label>
																	<br>
																	<input class="form-radio-input" type="radio" name="status" value="Active">Active<br>
																	<input class="form-radio-input" type="radio" name="status" value="Inactive">Inactive
																</div>
															</div>
															<div class="modal-footer no-bd">
																<button type="submit" id="addemployeeButton" class="btn btn-primary">Save</button>
																<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									<!--End modal-->

									<!-- Modal to delete employee -->
									{% for i in emp%}
										<div class="modal fade" id="deleteemployeelModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header no-bd">
														<h5 class="modal-title">
															<span class="fw-bold">Delete Employee</span>
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
														<p class="small">Do you really want to delete this employee record</p>
														<p class="small">The {{i.first_name}} will get deleted permanently</p>
														<form action="/deleteemployee/{{i.id}}" method="post" class="row g-3 needs-validation">
															{% csrf_token %}
															<div class="modal-footer no-bd">
																<button type="submit" id="deleteemployeeButton" class="btn btn-primary">Delete</button>
																<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									<!--End modal-->

									<!--table structure-->
									<div class="table-responsive">
										<table id="add-employee" class="display table table-striped table-hover" >
											<thead>
												<tr>
													<th>Employee ID</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Email</th>
													<th>Status</th>
													<th style="width: 10%">Action</th>
												</tr>
											</thead>
											<thead>
												<tr>
													<th>Employee ID</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Email</th>
													<th>Status</th>
													<th style="width: 10%">Action</th>
												</tr>
											</thead>
											<tbody>
												{% for i in emp %}
													<tr>
														<td>{{ i.user_code }}</td>
														<td>{{ i.first_name }}</td>
														<td>{{ i.last_name }}</td>
														<td>{{ i.email }}</td>
														<td>{{ i.employee_status }}</td>
														<td>
															<div class="form-button-action">
																<button type="button" data-toggle="modal" href="#editemployeeModal-{{forloop.counter}}" class="btn btn-link btn-primary btn-lg" data-original-title="Edit employee">
																	<i class="fa fa-edit"></i>
																</button>
																<button type="button" data-toggle="modal" href="#deleteemployeelModal-{{forloop.counter}}" class="btn btn-link btn-danger" data-original-title="Remove employee">
																	<i class="fa fa-times"></i>
																</button>
															</div>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!--End table structure-->

								</div>
							</div>
						</div>
                        <!--End table-->
					</div>
				</div>
			</div>
		</div>
	<!--End Main Body-->
    </div>
	{% endblock %}
	{% block script %}
    <script>
		$(document).ready(function() {
			$('#add-employee').DataTable( 
				{
				"pageLength": 5,
				initComplete: function () 
				{
					this.api().columns().every( function () 
					{
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.header()).empty() )
						.on('change', function () 
						{
							var val = $.fn.dataTable.util.escapeRegex($(this).val());
							column.search( val ? '^'+val+'$' : '', true, false ).draw();
						});

						column.data().unique().sort().each( function ( d, j )
						{
							select.append('<option value="'+d+'">'+d+'</option>')
						});
					} );
				}
			});
		});
	</script>
	{% endblock %}