{% extends "base.html" %}

{% block body %}
		<!--Main Boby-->
		{% load static %}
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Prefix Information</h4>
						<ul class="breadcrumbs">
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Prefix</a>
							</li>
						</ul>
					</div>
					<div class="row">
                        <!--Table with filters and add row option-->
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex align-items-center">
										<h4 class="card-title">Prefix</h4>
										<button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addprefixModal">
											<i class="fa fa-plus"></i>
											Add Prefix
										</button>
									</div>
								</div>
								<div class="card-body">
									<!-- Modal to add new prefix -->
									<div class="modal fade" id="addprefixModal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
														<span class="fw-bold">Add Prefix</span>
														<br>
														<p class="small">Add a new Prefix, make sure you fill them all</p>
													</h5>
													
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
													<form action="{% url 'addprefix'%}" method="post" class="row g-3 needs-validation">
														{% csrf_token %}
														<div class="row">
															<div class="col-md-6 col-lg-4">
                                                                <label for="prefixid" class="form-label">Prefix Code</label>
                                                                <input name="prefixid" type="text" class="form-control" id="prefixid" placeholder="prefix ID should contains only alphabets and numbers" required>
                                                            </div>
                                                            <div class="col-md-6 col-lg-4">
                                                                <label for="prefixname" class="form-label">Prefix Name</label>
                                                                <input name="prefixname" type="text" class="form-control" id="prefixname" placeholder="prefix Name" required>
                                                            </div>
															<div class="col-md-6 col-lg-4">
																<label for="status">Status</label>
																<br>
																<input class="form-radio-input" type="radio" name="status" value="Active" checked="true">Active<br>
																<input class="form-radio-input" type="radio" name="status" value="Inactive">Inactive
															</div>
														</div>
														<div class="modal-footer no-bd">
															<button type="submit" id="editprefixButton" class="btn btn-primary">Add</button>
															<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!--End modal-->

									<!-- Modal to update prefix -->
									{% for i in prx%}
										<div class="modal fade" id="editprefixModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header no-bd">
														<h5 class="modal-title">
															<span class="fw-bold">Update Prefix</span><br>
															<p class="small">Update the Information</p>
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
														<form action="/updateprefix/{{i.id}}" method="post" class="row g-3 needs-validation">
															{% csrf_token %}
															<div class="row">
																<div class="col-md-6 col-lg-4">
																	<label for="prefixid" class="form-label">Prefix Code</label>
																	<input name="prefixid" type="text" class="form-control" value="{{i.prefix_code}}" id="prefixid" placeholder="prefix ID should contains only alphabets and numbers" required>
																</div>
																<div class="col-md-6 col-lg-4">
																	<label for="prefixname" class="form-label">Prefix Name</label>
																	<input name="prefixname" type="text" class="form-control" value="{{i.name}}" id="prefixname" placeholder="prefix Name" required>
																</div>
																<div class="col-md-6 col-lg-4">
																	<label for="status">Status</label>
																	<br>
																	<input class="form-radio-input" type="radio" name="status" value="Active">Active<br>
																	<input class="form-radio-input" type="radio" name="status" value="Inactive">Inactive
																</div>
															</div>
															<div class="modal-footer no-bd">
																<button type="submit" id="addprefixButton" class="btn btn-primary">Save</button>
																<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									<!--End modal-->

									<!-- Modal to delete prefix -->
									{% for i in prx%}
										<div class="modal fade" id="deleteprefixModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header no-bd">
														<h5 class="modal-title">
															<span class="fw-bold">Delete Prefix</span>
														</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body" style="padding-left: 50px; padding-right: 50px;">
														<p class="small">Do you really want to delete this Prefix record</p>
														<p class="small">The {{i.name}} will get deleted permanently</p>
														<form action="/deleteprefix/{{i.id}}" method="post" class="row g-3 needs-validation">
															{% csrf_token %}
															<div class="modal-footer no-bd">
																<button type="submit" id="deleteprefixButton" class="btn btn-primary">Delete</button>
																<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endfor %}
									<!--End modal-->

									<!--table structure-->
									<div class="table-responsive">
										<table id="prefix" class="display table table-striped table-hover" >
											<thead>
												<tr>
													<th>Prefix Code</th>
													<th>Prefix Name</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<thead>
												<tr>
													<th>Prefix Code</th>
													<th>Prefix Name</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												{% for prefix in prx %}
													<tr>
														<td>{{ prefix.prefix_code }}</td>
														<td>{{ prefix.name }}</td>
														<td>{{ prefix.prefix_status }}</td>
														<td>
															<div class="form-button-action">
																<button type="button" data-toggle="modal" href="#editprefixModal-{{forloop.counter}}" class="btn btn-link btn-primary btn-lg" data-original-title="Edit prefix">
																	<i class="fa fa-edit"></i>
																</button>
																<button type="button" data-toggle="modal" href="#deleteprefixModal-{{forloop.counter}}" class="btn btn-link btn-danger" data-original-title="Remove prefix">
																	<i class="fa fa-times"></i>
																</button>
															</div>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									<!--End table structure-->

								</div>
							</div>
						</div>
                        <!--End table-->
					</div>
				</div>
			</div>
		</div>
	<!--End Main Body-->
    </div>
{% endblock %}

{% block script%}

	<script>
		$(document).ready(function() {
			$('#prefix').DataTable( 
				{
				"pageLength": 5,
				initComplete: function () 
				{
					this.api().columns().every( function () 
					{
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.header()).empty() )
						.on('change', function () 
						{
							var val = $.fn.dataTable.util.escapeRegex($(this).val());
							column.search( val ? '^'+val+'$' : '', true, false ).draw();
						});

						column.data().unique().sort().each( function ( d, j )
						{
							select.append('<option value="'+d+'">'+d+'</option>')
						});
					} );
				}
			});
		});
	</script>
{% endblock %}